

.main [data-module-template="heroes"] [data-unit-id="iphone-12-pro"] {
    --custom-height-s: 725px;
}

.main [data-module-template="heroes"] [data-unit-id="iphone-12"] {
    --custom-height-s: 725px;
}

.main [data-module-template="promos"] [data-unit-id] .unit-copy-wrapper .headline, .main [data-module-template="promos"] [data-unit-id] .unit-copy-wrapper .subhead, .main [data-module-template="promos"] [data-unit-id] .unit-copy-wrapper .cta {
    width: 95%;
}



/** ipad **/

.logo-image-ipad-logo-tile {
    background-image: url("/kr/home/o/images/logos/ipad/logo-tile__ec23lf7d072a_large.png");
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx),(-webkit-min-device-pixel-ratio: 1.5),(min-resolution: 144dpi) {
    .logo-image-ipad-logo-tile {
        background-image: url("/kr/home/o/images/logos/ipad/logo-tile__ec23lf7d072a_large_2x.png")
    }
}

@media only screen and (max-width: 1068px) {
    .logo-image-ipad-logo-tile {
        background-image: url("/kr/home/o/images/logos/ipad/logo-tile__ec23lf7d072a_medium.png")
    }
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
    .logo-image-ipad-logo-tile {
        background-image: url("/kr/home/o/images/logos/ipad/logo-tile__ec23lf7d072a_medium_2x.png")
    }
}

@media only screen and (max-width: 734px) {
    .logo-image-ipad-logo-tile {
        background-image: url("/kr/home/o/images/logos/ipad/logo-tile__ec23lf7d072a_small.png")
    }
}

@media only screen and (max-width: 734px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 734px) and (min-resolution: 1.5dppx), only screen and (max-width: 734px) and (min-resolution: 144dpi) {
    .logo-image-ipad-logo-tile {
        background-image: url("/kr/home/o/images/logos/ipad/logo-tile__ec23lf7d072a_small_2x.png")
    }
}
/**  **/




/* IE START */
.ie-only {
    display: none;
}
/* IE END */
.icon-chevronright:after, .more:after, .icon-external:after {
    top: -.08em;
}

.main [data-module-template="ribbon"] [data-unit-id="covid-19"] .section-content {
	padding:0
}

@media only screen and (max-width: 1068px) {
    .main [data-module-template="ribbon"] [data-unit-id="covid-19"] .section-content {
        padding:0
    }
}

@media only screen and (max-width: 734px) {
    .main [data-module-template="ribbon"] [data-unit-id="covid-19"] .section-content {
        padding:0
    }
}

[data-module-template] [data-unit-id] .unit-wrapper .unit-copy-wrapper {
    z-index: 5;
}


@media only screen and (max-width: 734px) {
    .main [data-module-template="ribbon"] [data-unit-id="covid-19"] .section-content {
        padding:0
    }
}



/** macbook-pro-13 promo **/

.main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-macbook-pro-13-tile {
    background-image: url("/kr/home/l/images/promos/macbook-pro-13/tile__cauwwcyyn9hy_large.jpg")
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx),(-webkit-min-device-pixel-ratio: 1.5),(min-resolution: 144dpi) {
    .main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-macbook-pro-13-tile {
        background-image: url("/kr/home/l/images/promos/macbook-pro-13/tile__cauwwcyyn9hy_large_2x.jpg")
    }
}

@media only screen and (max-width: 1068px) {
    .main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-macbook-pro-13-tile {
        background-image: url("/kr/home/l/images/promos/macbook-pro-13/tile__cauwwcyyn9hy_medium.jpg")
    }
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
    .main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-macbook-pro-13-tile {
        background-image: url("/kr/home/l/images/promos/macbook-pro-13/tile__cauwwcyyn9hy_medium_2x.jpg")
    }
}

@media only screen and (max-width: 734px) {
    .main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-macbook-pro-13-tile {
        background-image: url("/kr/home/l/images/promos/macbook-pro-13/tile__cauwwcyyn9hy_small.jpg")
    }
}

@media only screen and (max-width: 734px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 734px) and (min-resolution: 1.5dppx), only screen and (max-width: 734px) and (min-resolution: 144dpi) {
    .main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-macbook-pro-13-tile {
        background-image: url("/kr/home/l/images/promos/macbook-pro-13/tile__cauwwcyyn9hy_small_2x.jpg")
    }
}


.main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-macbook-air-tile {
    width: 432px;
    height: 336px;
    background-size: 432px 336px;
    background-repeat: no-repeat;
    background-image: url("/v/home/f/images/promos/macbook-air/tile__cauwwcyyn9hy_large.jpg")
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
    .main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-macbook-air-tile {
        background-image: url("/v/home/f/images/promos/macbook-air/tile__cauwwcyyn9hy_large_2x.jpg")
    }
}

@media only screen and (max-width: 1068px) {
    .main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-macbook-air-tile {
        width: 310px;
        height: 263px;
        background-size: 310px 263px;
        background-repeat: no-repeat;
        background-image: url("/v/home/f/images/promos/macbook-air/tile__cauwwcyyn9hy_medium.jpg")
    }
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
    .main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-macbook-air-tile {
        background-image: url("/v/home/f/images/promos/macbook-air/tile__cauwwcyyn9hy_medium_2x.jpg")
    }
}

@media only screen and (max-width: 734px) {
    .main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-macbook-air-tile {
        width: 285px;
        height: 263px;
        background-size: 285px 263px;
        background-repeat: no-repeat;
        background-image: url("/v/home/f/images/promos/macbook-air/tile__cauwwcyyn9hy_small.jpg")
    }
}

@media only screen and (max-width: 734px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 734px) and (min-resolution: 1.5dppx), only screen and (max-width: 734px) and (min-resolution: 144dpi) {
    .main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-macbook-air-tile {
        background-image: url("/v/home/f/images/promos/macbook-air/tile__cauwwcyyn9hy_small_2x.jpg")
    }
}


/** ios 14 preview tile alt **/

.main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-ios-14-preview-tile-alt {
    background-image: url("/kr/home/l/images/promos/ios-14-preview/tile-alt__bidddof8lzte_large.jpg")
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx),(-webkit-min-device-pixel-ratio: 1.5),(min-resolution: 144dpi) {
    .main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-ios-14-preview-tile-alt {
        background-image: url("/kr/home/l/images/promos/ios-14-preview/tile-alt__bidddof8lzte_large_2x.jpg")
    }
}

@media only screen and (max-width: 1068px) {
    .main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-ios-14-preview-tile-alt {
        background-image: url("/kr/home/l/images/promos/ios-14-preview/tile-alt__bidddof8lzte_medium.jpg")
    }
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
    .main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-ios-14-preview-tile-alt {
        background-image: url("/kr/home/l/images/promos/ios-14-preview/tile-alt__bidddof8lzte_medium_2x.jpg")
    }
}

@media only screen and (max-width: 734px) {
    .main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-ios-14-preview-tile-alt {
        background-image: url("/kr/home/l/images/promos/ios-14-preview/tile-alt__bidddof8lzte_small.jpg")
    }
}

@media only screen and (max-width: 734px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 734px) and (min-resolution: 1.5dppx), only screen and (max-width: 734px) and (min-resolution: 144dpi) {
    .main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-ios-14-preview-tile-alt {
        background-image: url("/kr/home/l/images/promos/ios-14-preview/tile-alt__bidddof8lzte_small_2x.jpg")
    }
}



/** music tile **/

.main [data-module-template="promos"] [data-unit-id="apple-music"] button {
    color: #06c;
    cursor: pointer;
    pointer-events: all
}

.main [data-module-template="promos"] [data-unit-id="apple-music"] .cta-links a {
    color: #06c;
    cursor: pointer;
    pointer-events: all
}

.main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-apple-music-tile {
	width: 1262px;
	height: 580px;
	background-size: 1262px 580px;
	background-image: url("/kr/home/o/images/promos/music/tile__cauwwcyyn9hy_large.jpg")
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
	.main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-apple-music-tile {
		background-image: url("/kr/home/o/images/promos/music/tile__cauwwcyyn9hy_large_2x.jpg")
	}
}

@media only screen and (max-width: 1068px) {
	.main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-apple-music-tile {
		width: 516px;
		height: 490px;
		background-size: 516px 490px;
		background-image: url("/kr/home/o/images/promos/music/tile__cauwwcyyn9hy_medium.jpg")
	}
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
	.main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-apple-music-tile {
		background-image: url("/kr/home/o/images/promos/music/tile__cauwwcyyn9hy_medium_2x.jpg")
	}
}

@media only screen and (max-width: 734px) {
	.main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-apple-music-tile {
		width: 734px;
		height: 548px;
		background-size: 734px 548px;
		background-image: url("/kr/home/o/images/promos/music/tile__cauwwcyyn9hy_small.jpg")
	}
}

@media only screen and (max-width: 734px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 734px) and (min-resolution: 1.5dppx), only screen and (max-width: 734px) and (min-resolution: 144dpi) {
    .main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-apple-music-tile {
		background-image: url("/kr/home/o/images/promos/music/tile__cauwwcyyn9hy_small_2x.jpg")
	}
}


.main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-watch-se-tile {
    width: 378px;
    height: 392px;
    background-size: 378px 392px;
    background-repeat: no-repeat;
    background-image: url("/kr/home/r/images/promos/watch-se/tile__cauwwcyyn9hy_large.jpg")
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx),(-webkit-min-device-pixel-ratio: 1.5),(min-resolution: 144dpi) {
    .main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-watch-se-tile {
        background-image: url("/kr/home/r/images/promos/watch-se/tile__cauwwcyyn9hy_large_2x.jpg")
    }
}

@media only screen and (max-width: 1068px) {
    .main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-watch-se-tile {
        width: 279px;
        height: 328px;
        background-size: 279px 328px;
        background-repeat: no-repeat;
        background-image: url("/kr/home/r/images/promos/watch-se/tile__cauwwcyyn9hy_medium.jpg")
    }
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
    .main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-watch-se-tile {
        background-image: url("/kr/home/r/images/promos/watch-se/tile__cauwwcyyn9hy_medium_2x.jpg")
    }
}

@media only screen and (max-width: 734px) {
    .main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-watch-se-tile {
        width: 267px;
        height: 327px;
        background-size: 267px 327px;
        background-repeat: no-repeat;
        background-image: url("/kr/home/r/images/promos/watch-se/tile__cauwwcyyn9hy_small.jpg")
    }
}

@media only screen and (max-width: 734px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 734px) and (min-resolution: 1.5dppx), only screen and (max-width: 734px) and (min-resolution: 144dpi) {
    .main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-watch-se-tile {
        background-image: url("/kr/home/r/images/promos/watch-se/tile__cauwwcyyn9hy_small_2x.jpg")
    }
}

.main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-watch-series-6-tile {
    width: 240px;
    height: 381px;
    background-size: 240px 381px;
    background-repeat: no-repeat;
    background-image: url("/kr/home/r/images/promos/watch-series-6/tile__cauwwcyyn9hy_large.jpg")
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx),(-webkit-min-device-pixel-ratio: 1.5),(min-resolution: 144dpi) {
    .main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-watch-series-6-tile {
        background-image: url("/kr/home/r/images/promos/watch-series-6/tile__cauwwcyyn9hy_large_2x.jpg")
    }
}

@media only screen and (max-width: 1068px) {
    .main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-watch-series-6-tile {
        width: 188px;
        height: 314px;
        background-size: 188px 314px;
        background-repeat: no-repeat;
        background-image: url("/kr/home/r/images/promos/watch-series-6/tile__cauwwcyyn9hy_medium.jpg")
    }
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
    .main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-watch-series-6-tile {
        background-image: url("/kr/home/r/images/promos/watch-series-6/tile__cauwwcyyn9hy_medium_2x.jpg")
    }
}

@media only screen and (max-width: 734px) {
    .main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-watch-series-6-tile {
        width: 207px;
        height: 333px;
        background-size: 207px 333px;
        background-repeat: no-repeat;
        background-image: url("/kr/home/r/images/promos/watch-series-6/tile__cauwwcyyn9hy_small.jpg")
    }
}

@media only screen and (max-width: 734px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 734px) and (min-resolution: 1.5dppx), only screen and (max-width: 734px) and (min-resolution: 144dpi) {
    .main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-watch-series-6-tile {
        background-image: url("/kr/home/r/images/promos/watch-series-6/tile__cauwwcyyn9hy_small_2x.jpg")
    }
}





/** ipad **/

.logo-image-ipad-logo-tile {
    background-image: url("/kr/home/o/images/logos/ipad/logo-tile__ec23lf7d072a_large.png");
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx),(-webkit-min-device-pixel-ratio: 1.5),(min-resolution: 144dpi) {
    .logo-image-ipad-logo-tile {
        background-image: url("/kr/home/o/images/logos/ipad/logo-tile__ec23lf7d072a_large_2x.png")
    }
}

@media only screen and (max-width: 1068px) {
    .logo-image-ipad-logo-tile {
        background-image: url("/kr/home/o/images/logos/ipad/logo-tile__ec23lf7d072a_medium.png")
    }
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
    .logo-image-ipad-logo-tile {
        background-image: url("/kr/home/o/images/logos/ipad/logo-tile__ec23lf7d072a_medium_2x.png")
    }
}

@media only screen and (max-width: 734px) {
    .logo-image-ipad-logo-tile {
        background-image: url("/kr/home/o/images/logos/ipad/logo-tile__ec23lf7d072a_small.png")
    }
}

@media only screen and (max-width: 734px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 734px) and (min-resolution: 1.5dppx), only screen and (max-width: 734px) and (min-resolution: 144dpi) {
    .logo-image-ipad-logo-tile {
        background-image: url("/kr/home/o/images/logos/ipad/logo-tile__ec23lf7d072a_small_2x.png")
    }
}


.main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-ipad-tile {
    width: 388px;
    height: 580px;
    background-size: 388px 580px;
    background-repeat: no-repeat;
    background-image: url("/kr/home/o/images/promos/ipad/tile__cauwwcyyn9hy_large.jpg")
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx),(-webkit-min-device-pixel-ratio: 1.5),(min-resolution: 144dpi) {
    .main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-ipad-tile {
        background-image: url("/kr/home/o/images/promos/ipad/tile__cauwwcyyn9hy_large_2x.jpg")
    }
}

@media only screen and (max-width: 1068px) {
    .main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-ipad-tile {
        width: 292px;
        height: 490px;
        background-size: 292px 490px;
        background-repeat: no-repeat;
        background-image: url("/kr/home/o/images/promos/ipad/tile__cauwwcyyn9hy_medium.jpg")
    }
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
    .main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-ipad-tile {
        background-image: url("/kr/home/o/images/promos/ipad/tile__cauwwcyyn9hy_medium_2x.jpg")
    }
}

@media only screen and (max-width: 734px) {
    .main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-ipad-tile {
        width: 292px;
        height: 548px;
        background-size: 292px 548px;
        background-repeat: no-repeat;
        background-image: url("/kr/home/o/images/promos/ipad/tile__cauwwcyyn9hy_small.jpg")
    }
}

@media only screen and (max-width: 734px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 734px) and (min-resolution: 1.5dppx), only screen and (max-width: 734px) and (min-resolution: 144dpi) {
    .main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-ipad-tile {
        background-image: url("/kr/home/o/images/promos/ipad/tile__cauwwcyyn9hy_small_2x.jpg")
    }
}


/** yud **/

.main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-yud {
    width: 1262px;
    height: 580px;
    background-size: 1262px 580px;
    background-repeat: no-repeat;
    background-image: url("/kr/home/r/images/promo/promo_large.jpg");
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
    .main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-yud {
        background-image: url("/kr/home/r/images/promo/promo_large_2x.jpg")
    }
}

@media only screen and (max-width: 1068px) {
    .main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-yud {
        width: 516px;
        height: 490px;
        background-size: 516px 490px;
        background-repeat: no-repeat;
        background-image: url("/kr/home/r/images/promo/promo_medium.jpg");
    }
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
    .main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-yud {
        background-image: url("/kr/home/r/images/promo/promo_medium_2x.jpg");
    }
}

@media only screen and (max-width: 734px) {
    .main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-yud {
        width: 736px;
        height: 548px;
        background-size: 736px 548px;
        background-repeat: no-repeat;
        bottom: 15px;
        background-image: url("/kr/home/r/images/promo/promo_small.jpg");
    }
}

@media only screen and (max-width: 734px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 734px) and (min-resolution: 1.5dppx), only screen and (max-width: 734px) and (min-resolution: 144dpi) {
    .main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-yud {
        background-image: url("/kr/home/r/images/promo/promo_small_2x.jpg")
    }
}

/* Holiday */


.main [data-module-template="heroes"] [data-unit-id="holiday-2020"] .unit-image-wrapper .unit-image-container.set-a .unit-image-iphone-12 .snowflake-image {
    width: 289px;
    height: 281px;
    background-size: 289px 281px;
    background-repeat: no-repeat;
    background-image: url("/kr/home/r/images/heroes/holiday-2020/set-a/phone__ulbbo0vgyf6y_large.png")
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx),(-webkit-min-device-pixel-ratio: 1.5),(min-resolution: 144dpi) {
    .main [data-module-template="heroes"] [data-unit-id="holiday-2020"] .unit-image-wrapper .unit-image-container.set-a .unit-image-iphone-12 .snowflake-image {
        background-image: url("/kr/home/r/images/heroes/holiday-2020/set-a/phone__ulbbo0vgyf6y_large_2x.png")
    }
}

@media only screen and (max-width: 1068px) {
    .main [data-module-template="heroes"] [data-unit-id="holiday-2020"] .unit-image-wrapper .unit-image-container.set-a .unit-image-iphone-12 .snowflake-image {
        width: 289px;
        height: 281px;
        background-size: 289px 281px;
        background-repeat: no-repeat;
        background-image: url("/kr/home/r/images/heroes/holiday-2020/set-a/phone__ulbbo0vgyf6y_medium.png")
    }
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
    .main [data-module-template="heroes"] [data-unit-id="holiday-2020"] .unit-image-wrapper .unit-image-container.set-a .unit-image-iphone-12 .snowflake-image {
        background-image: url("/kr/home/r/images/heroes/holiday-2020/set-a/phone__ulbbo0vgyf6y_medium_2x.png")
    }
}

@media only screen and (max-width: 734px) {
    .main [data-module-template="heroes"] [data-unit-id="holiday-2020"] .unit-image-wrapper .unit-image-container.set-a .unit-image-iphone-12 .snowflake-image {
        width: 260px;
        height: 260px;
        background-size: 260px 260px;
        background-repeat: no-repeat;
        background-image: url("/kr/home/r/images/heroes/holiday-2020/set-a/phone__ulbbo0vgyf6y_small.png")
    }
}

@media only screen and (max-width: 734px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 734px) and (min-resolution: 1.5dppx), only screen and (max-width: 734px) and (min-resolution: 144dpi) {
    .main [data-module-template="heroes"] [data-unit-id="holiday-2020"] .unit-image-wrapper .unit-image-container.set-a .unit-image-iphone-12 .snowflake-image {
        background-image: url("/kr/home/r/images/heroes/holiday-2020/set-a/phone__ulbbo0vgyf6y_small_2x.png")
    }
}

@media only screen and (min-width: 1069px) and (min-height: 776px) {
    .main [data-module-template="heroes"] [data-unit-id="holiday-2020"] .unit-image-wrapper .unit-image-container.set-a .unit-image-iphone-12 .snowflake-image {
        width: 359px;
        height: 348px;
        background-size: 359px 348px;
        background-repeat: no-repeat;
        background-image: url("/kr/home/r/images/heroes/holiday-2020/set-a/phone__ulbbo0vgyf6y_largetall.png")
    }
}

@media only screen and (min-width: 1069px) and (min-height: 776px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-width: 1069px) and (min-height: 776px) and (min-resolution: 1.5dppx), only screen and (min-width: 1069px) and (min-height: 776px) and (min-resolution: 144dpi) {
    .main [data-module-template="heroes"] [data-unit-id="holiday-2020"] .unit-image-wrapper .unit-image-container.set-a .unit-image-iphone-12 .snowflake-image {
        background-image: url("/kr/home/r/images/heroes/holiday-2020/set-a/phone__ulbbo0vgyf6y_largetall_2x.png")
    }
}

@media only screen and (max-width: 1068px) and (min-width: 735px) and (min-height: 734px) {
    .main [data-module-template="heroes"] [data-unit-id="holiday-2020"] .unit-image-wrapper .unit-image-container.set-a .unit-image-iphone-12 .snowflake-image {
        width: 289px;
        height: 281px;
        background-size: 289px 281px;
        background-repeat: no-repeat;
        background-image: url("/kr/home/r/images/heroes/holiday-2020/set-a/phone__ulbbo0vgyf6y_mediumtall.png")
    }
}

@media only screen and (max-width: 1068px) and (min-width: 735px) and (min-height: 734px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-width: 735px) and (min-height: 734px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-width: 735px) and (min-height: 734px) and (min-resolution: 144dpi) {
    .main [data-module-template="heroes"] [data-unit-id="holiday-2020"] .unit-image-wrapper .unit-image-container.set-a .unit-image-iphone-12 .snowflake-image {
        background-image: url("/kr/home/r/images/heroes/holiday-2020/set-a/phone__ulbbo0vgyf6y_mediumtall_2x.png")
    }
}

.main [data-module-template="heroes"] [data-unit-id="holiday-2020"] .unit-image-wrapper .unit-image-container.set-a .unit-image-watch-se .snowflake-image {
    width: 289px;
    height: 281px;
    background-size: 289px 281px;
    background-repeat: no-repeat;
    background-image: url("/kr/home/r/images/heroes/holiday-2020/set-a/watch__csqqcayzqueu_large.png")
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx),(-webkit-min-device-pixel-ratio: 1.5),(min-resolution: 144dpi) {
    .main [data-module-template="heroes"] [data-unit-id="holiday-2020"] .unit-image-wrapper .unit-image-container.set-a .unit-image-watch-se .snowflake-image {
        background-image: url("/kr/home/r/images/heroes/holiday-2020/set-a/watch__csqqcayzqueu_large_2x.png")
    }
}

@media only screen and (max-width: 1068px) {
    .main [data-module-template="heroes"] [data-unit-id="holiday-2020"] .unit-image-wrapper .unit-image-container.set-a .unit-image-watch-se .snowflake-image {
        width: 289px;
        height: 281px;
        background-size: 289px 281px;
        background-repeat: no-repeat;
        background-image: url("/kr/home/r/images/heroes/holiday-2020/set-a/watch__csqqcayzqueu_medium.png")
    }
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
    .main [data-module-template="heroes"] [data-unit-id="holiday-2020"] .unit-image-wrapper .unit-image-container.set-a .unit-image-watch-se .snowflake-image {
        background-image: url("/kr/home/r/images/heroes/holiday-2020/set-a/watch__csqqcayzqueu_medium_2x.png")
    }
}

@media only screen and (min-width: 1069px) and (min-height: 776px) {
    .main [data-module-template="heroes"] [data-unit-id="holiday-2020"] .unit-image-wrapper .unit-image-container.set-a .unit-image-watch-se .snowflake-image {
        width: 359px;
        height: 348px;
        background-size: 359px 348px;
        background-repeat: no-repeat;
        background-image: url("/kr/home/r/images/heroes/holiday-2020/set-a/watch__csqqcayzqueu_largetall.png")
    }
}

@media only screen and (min-width: 1069px) and (min-height: 776px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-width: 1069px) and (min-height: 776px) and (min-resolution: 1.5dppx), only screen and (min-width: 1069px) and (min-height: 776px) and (min-resolution: 144dpi) {
    .main [data-module-template="heroes"] [data-unit-id="holiday-2020"] .unit-image-wrapper .unit-image-container.set-a .unit-image-watch-se .snowflake-image {
        background-image: url("/kr/home/r/images/heroes/holiday-2020/set-a/watch__csqqcayzqueu_largetall_2x.png")
    }
}

@media only screen and (max-width: 1068px) and (min-width: 735px) and (min-height: 734px) {
    .main [data-module-template="heroes"] [data-unit-id="holiday-2020"] .unit-image-wrapper .unit-image-container.set-a .unit-image-watch-se .snowflake-image {
        width: 289px;
        height: 281px;
        background-size: 289px 281px;
        background-repeat: no-repeat;
        background-image: url("/kr/home/r/images/heroes/holiday-2020/set-a/watch__csqqcayzqueu_mediumtall.png")
    }
}

@media only screen and (max-width: 1068px) and (min-width: 735px) and (min-height: 734px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-width: 735px) and (min-height: 734px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-width: 735px) and (min-height: 734px) and (min-resolution: 144dpi) {
    .main [data-module-template="heroes"] [data-unit-id="holiday-2020"] .unit-image-wrapper .unit-image-container.set-a .unit-image-watch-se .snowflake-image {
        background-image: url("/kr/home/r/images/heroes/holiday-2020/set-a/watch__csqqcayzqueu_mediumtall_2x.png")
    }
}

.main [data-module-template="heroes"] [data-unit-id="holiday-2020"] .unit-image-wrapper .unit-image-container.set-b .unit-image-iphone-12-pro .snowflake-image {
    width: 281px;
    height: 282px;
    background-size: 281px 282px;
    background-repeat: no-repeat;
    background-image: url("/kr/home/r/images/heroes/holiday-2020/set-b/phone__ulbbo0vgyf6y_large.png")
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx),(-webkit-min-device-pixel-ratio: 1.5),(min-resolution: 144dpi) {
    .main [data-module-template="heroes"] [data-unit-id="holiday-2020"] .unit-image-wrapper .unit-image-container.set-b .unit-image-iphone-12-pro .snowflake-image {
        background-image: url("/kr/home/r/images/heroes/holiday-2020/set-b/phone__ulbbo0vgyf6y_large_2x.png")
    }
}

@media only screen and (max-width: 1068px) {
    .main [data-module-template="heroes"] [data-unit-id="holiday-2020"] .unit-image-wrapper .unit-image-container.set-b .unit-image-iphone-12-pro .snowflake-image {
        width: 275px;
        height: 276px;
        background-size: 275px 276px;
        background-repeat: no-repeat;
        background-image: url("/kr/home/r/images/heroes/holiday-2020/set-b/phone__ulbbo0vgyf6y_medium.png")
    }
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
    .main [data-module-template="heroes"] [data-unit-id="holiday-2020"] .unit-image-wrapper .unit-image-container.set-b .unit-image-iphone-12-pro .snowflake-image {
        background-image: url("/kr/home/r/images/heroes/holiday-2020/set-b/phone__ulbbo0vgyf6y_medium_2x.png")
    }
}

@media only screen and (max-width: 734px) {
    .main [data-module-template="heroes"] [data-unit-id="holiday-2020"] .unit-image-wrapper .unit-image-container.set-b .unit-image-iphone-12-pro .snowflake-image {
        width: 260px;
        height: 260px;
        background-size: 260px 260px;
        background-repeat: no-repeat;
        background-image: url("/kr/home/r/images/heroes/holiday-2020/set-b/phone__ulbbo0vgyf6y_small.png")
    }
}

@media only screen and (max-width: 734px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 734px) and (min-resolution: 1.5dppx), only screen and (max-width: 734px) and (min-resolution: 144dpi) {
    .main [data-module-template="heroes"] [data-unit-id="holiday-2020"] .unit-image-wrapper .unit-image-container.set-b .unit-image-iphone-12-pro .snowflake-image {
        background-image: url("/kr/home/r/images/heroes/holiday-2020/set-b/phone__ulbbo0vgyf6y_small_2x.png")
    }
}

@media only screen and (min-width: 1069px) and (min-height: 776px) {
    .main [data-module-template="heroes"] [data-unit-id="holiday-2020"] .unit-image-wrapper .unit-image-container.set-b .unit-image-iphone-12-pro .snowflake-image {
        width: 348px;
        height: 348px;
        background-size: 348px 348px;
        background-repeat: no-repeat;
        background-image: url("/kr/home/r/images/heroes/holiday-2020/set-b/phone__ulbbo0vgyf6y_largetall.png")
    }
}

@media only screen and (min-width: 1069px) and (min-height: 776px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-width: 1069px) and (min-height: 776px) and (min-resolution: 1.5dppx), only screen and (min-width: 1069px) and (min-height: 776px) and (min-resolution: 144dpi) {
    .main [data-module-template="heroes"] [data-unit-id="holiday-2020"] .unit-image-wrapper .unit-image-container.set-b .unit-image-iphone-12-pro .snowflake-image {
        background-image: url("/kr/home/r/images/heroes/holiday-2020/set-b/phone__ulbbo0vgyf6y_largetall_2x.png")
    }
}

.main [data-module-template="heroes"] [data-unit-id="holiday-2020"] .unit-image-wrapper .unit-image-container.set-b .unit-image-cases .snowflake-image {
    width: 281px;
    height: 282px;
    background-size: 281px 282px;
    background-repeat: no-repeat;
    background-image: url("/kr/home/r/images/heroes/holiday-2020/set-b/case__dpyg8mb6p5ea_large.png")
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx),(-webkit-min-device-pixel-ratio: 1.5),(min-resolution: 144dpi) {
    .main [data-module-template="heroes"] [data-unit-id="holiday-2020"] .unit-image-wrapper .unit-image-container.set-b .unit-image-cases .snowflake-image {
        background-image: url("/kr/home/r/images/heroes/holiday-2020/set-b/case__dpyg8mb6p5ea_large_2x.png")
    }
}

@media only screen and (max-width: 1068px) {
    .main [data-module-template="heroes"] [data-unit-id="holiday-2020"] .unit-image-wrapper .unit-image-container.set-b .unit-image-cases .snowflake-image {
        width: 275px;
        height: 276px;
        background-size: 275px 276px;
        background-repeat: no-repeat;
        background-image: url("/kr/home/r/images/heroes/holiday-2020/set-b/case__dpyg8mb6p5ea_medium.png")
    }
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
    .main [data-module-template="heroes"] [data-unit-id="holiday-2020"] .unit-image-wrapper .unit-image-container.set-b .unit-image-cases .snowflake-image {
        background-image: url("/kr/home/r/images/heroes/holiday-2020/set-b/case__dpyg8mb6p5ea_medium_2x.png")
    }
}

@media only screen and (min-width: 1069px) and (min-height: 776px) {
    .main [data-module-template="heroes"] [data-unit-id="holiday-2020"] .unit-image-wrapper .unit-image-container.set-b .unit-image-cases .snowflake-image {
        width: 348px;
        height: 348px;
        background-size: 348px 348px;
        background-repeat: no-repeat;
        background-image: url("/kr/home/r/images/heroes/holiday-2020/set-b/case__dpyg8mb6p5ea_largetall.png")
    }
}

@media only screen and (min-width: 1069px) and (min-height: 776px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-width: 1069px) and (min-height: 776px) and (min-resolution: 1.5dppx), only screen and (min-width: 1069px) and (min-height: 776px) and (min-resolution: 144dpi) {
    .main [data-module-template="heroes"] [data-unit-id="holiday-2020"] .unit-image-wrapper .unit-image-container.set-b .unit-image-cases .snowflake-image {
        background-image: url("/kr/home/r/images/heroes/holiday-2020/set-b/case__dpyg8mb6p5ea_largetall_2x.png")
    }
}


/** iphone 12 hero **/

.main [data-module-template="heroes"] .unit-image-wrapper .unit-image.unit-image-iphone-12-iphone-12 {
    width: 3010px;
    height: 624px;
    background-size: 3010px 624px;
    background-repeat: no-repeat;
    background-image: url("/kr/home/r/images/heroes/iphone-12/iphone_12__ejhnn79bn1me_large.jpg")
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
    .main [data-module-template="heroes"] .unit-image-wrapper .unit-image.unit-image-iphone-12-iphone-12 {
        background-image: url("/kr/home/r/images/heroes/iphone-12/iphone_12__ejhnn79bn1me_large_2x.jpg")
    }
}

@media only screen and (max-width: 1068px) {
    .main [data-module-template="heroes"] .unit-image-wrapper .unit-image.unit-image-iphone-12-iphone-12 {
        width: 1068px;
        height: 617px;
        background-size: 1068px 617px;
        background-repeat: no-repeat;
        background-image: url("/kr/home/r/images/heroes/iphone-12/iphone_12__ejhnn79bn1me_medium.jpg")
    }
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
    .main [data-module-template="heroes"] .unit-image-wrapper .unit-image.unit-image-iphone-12-iphone-12 {
        background-image: url("/kr/home/r/images/heroes/iphone-12/iphone_12__ejhnn79bn1me_medium_2x.jpg")
    }
}

@media only screen and (max-width: 734px) {
    .main [data-module-template="heroes"] .unit-image-wrapper .unit-image.unit-image-iphone-12-iphone-12 {
        width: 734px;
        height: 548px;
        background-size: 734px 548px;
        background-repeat: no-repeat;
        background-image: url("/kr/home/r/images/heroes/iphone-12/iphone_12__ejhnn79bn1me_small.jpg")
    }
}

@media only screen and (max-width: 734px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 734px) and (min-resolution: 1.5dppx), only screen and (max-width: 734px) and (min-resolution: 144dpi) {
    .main [data-module-template="heroes"] .unit-image-wrapper .unit-image.unit-image-iphone-12-iphone-12 {
        background-image: url("/kr/home/r/images/heroes/iphone-12/iphone_12__ejhnn79bn1me_small_2x.jpg")
    }
}

@media only screen and (min-width: 1069px) and (min-height: 776px) {
    .main [data-module-template="heroes"] .unit-image-wrapper .unit-image.unit-image-iphone-12-iphone-12 {
        width: 3010px;
        height: 736px;
        background-size: 3010px 736px;
        background-repeat: no-repeat;
        background-image: url("/kr/home/r/images/heroes/iphone-12/iphone_12__ejhnn79bn1me_largetall.jpg")
    }
}

@media only screen and (min-width: 1069px) and (min-height: 776px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-width: 1069px) and (min-height: 776px) and (min-resolution: 1.5dppx), only screen and (min-width: 1069px) and (min-height: 776px) and (min-resolution: 144dpi) {
    .main [data-module-template="heroes"] .unit-image-wrapper .unit-image.unit-image-iphone-12-iphone-12 {
        background-image: url("/kr/home/r/images/heroes/iphone-12/iphone_12__ejhnn79bn1me_largetall_2x.jpg")
    }
}

@media only screen and (max-width: 1068px) and (min-width: 735px) and (min-height: 734px) {
    .main [data-module-template="heroes"] .unit-image-wrapper .unit-image.unit-image-iphone-12-iphone-12 {
        width: 1068px;
        height: 698px;
        background-size: 1068px 698px;
        background-repeat: no-repeat;
        background-image: url("/kr/home/r/images/heroes/iphone-12/iphone_12__ejhnn79bn1me_mediumtall.jpg")
    }
}

@media only screen and (max-width: 1068px) and (min-width: 735px) and (min-height: 734px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-width: 735px) and (min-height: 734px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-width: 735px) and (min-height: 734px) and (min-resolution: 144dpi) {
    .main [data-module-template="heroes"] .unit-image-wrapper .unit-image.unit-image-iphone-12-iphone-12 {
        background-image: url("/kr/home/r/images/heroes/iphone-12/iphone_12__ejhnn79bn1me_mediumtall_2x.jpg")
    }
}

.main [data-module-template="heroes"] .unit-image-wrapper .unit-image.unit-image-iphone-12-iphone-12-us {
    width: 3010px;
    height: 624px;
    background-size: 3010px 624px;
    background-repeat: no-repeat;
    background-image: url("/kr/home/r/images/heroes/iphone-12/iphone_12_us__fo0stbby242m_large.jpg")
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
    .main [data-module-template="heroes"] .unit-image-wrapper .unit-image.unit-image-iphone-12-iphone-12-us {
        background-image: url("/kr/home/r/images/heroes/iphone-12/iphone_12_us__fo0stbby242m_large_2x.jpg")
    }
}

@media only screen and (max-width: 1068px) {
    .main [data-module-template="heroes"] .unit-image-wrapper .unit-image.unit-image-iphone-12-iphone-12-us {
        width: 1068px;
        height: 617px;
        background-size: 1068px 617px;
        background-repeat: no-repeat;
        background-image: url("/kr/home/r/images/heroes/iphone-12/iphone_12_us__fo0stbby242m_medium.jpg")
    }
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
    .main [data-module-template="heroes"] .unit-image-wrapper .unit-image.unit-image-iphone-12-iphone-12-us {
        background-image: url("/kr/home/r/images/heroes/iphone-12/iphone_12_us__fo0stbby242m_medium_2x.jpg")
    }
}

@media only screen and (max-width: 734px) {
    .main [data-module-template="heroes"] .unit-image-wrapper .unit-image.unit-image-iphone-12-iphone-12-us {
        width: 734px;
        height: 548px;
        background-size: 734px 548px;
        background-repeat: no-repeat;
        background-image: url("/kr/home/r/images/heroes/iphone-12/iphone_12_us__fo0stbby242m_small.jpg")
    }
}

@media only screen and (max-width: 734px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 734px) and (min-resolution: 1.5dppx), only screen and (max-width: 734px) and (min-resolution: 144dpi) {
    .main [data-module-template="heroes"] .unit-image-wrapper .unit-image.unit-image-iphone-12-iphone-12-us {
        background-image: url("/kr/home/r/images/heroes/iphone-12/iphone_12_us__fo0stbby242m_small_2x.jpg")
    }
}

@media only screen and (min-width: 1069px) and (min-height: 776px) {
    .main [data-module-template="heroes"] .unit-image-wrapper .unit-image.unit-image-iphone-12-iphone-12-us {
        width: 3010px;
        height: 736px;
        background-size: 3010px 736px;
        background-repeat: no-repeat;
        background-image: url("/kr/home/r/images/heroes/iphone-12/iphone_12_us__fo0stbby242m_largetall.jpg")
    }
}

@media only screen and (min-width: 1069px) and (min-height: 776px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-width: 1069px) and (min-height: 776px) and (min-resolution: 1.5dppx), only screen and (min-width: 1069px) and (min-height: 776px) and (min-resolution: 144dpi) {
    .main [data-module-template="heroes"] .unit-image-wrapper .unit-image.unit-image-iphone-12-iphone-12-us {
        background-image: url("/kr/home/r/images/heroes/iphone-12/iphone_12_us__fo0stbby242m_largetall_2x.jpg")
    }
}

@media only screen and (max-width: 1068px) and (min-width: 735px) and (min-height: 734px) {
    .main [data-module-template="heroes"] .unit-image-wrapper .unit-image.unit-image-iphone-12-iphone-12-us {
        width: 1068px;
        height: 698px;
        background-size: 1068px 698px;
        background-repeat: no-repeat;
        background-image: url("/kr/home/r/images/heroes/iphone-12/iphone_12_us__fo0stbby242m_mediumtall.jpg")
    }
}

@media only screen and (max-width: 1068px) and (min-width: 735px) and (min-height: 734px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-width: 735px) and (min-height: 734px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-width: 735px) and (min-height: 734px) and (min-resolution: 144dpi) {
    .main [data-module-template="heroes"] .unit-image-wrapper .unit-image.unit-image-iphone-12-iphone-12-us {
        background-image: url("/kr/home/r/images/heroes/iphone-12/iphone_12_us__fo0stbby242m_mediumtall_2x.jpg")
    }
}




/* iPhone 12 promo */

.main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-iphone-12-iphone-12-us {
    width: 1262px;
    height: 580px;
    background-size: 1262px 580px;
    background-repeat: no-repeat;
    background-image: url("/kr/home/r/images/promos/iphone-12/iphone_12_us__fo0stbby242m_large.jpg")
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx),(-webkit-min-device-pixel-ratio: 1.5),(min-resolution: 144dpi) {
    .main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-iphone-12-iphone-12-us {
        background-image: url("/kr/home/r/images/promos/iphone-12/iphone_12_us__fo0stbby242m_large_2x.jpg")
    }
}

@media only screen and (max-width: 1068px) {
    .main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-iphone-12-iphone-12-us {
        width: 516px;
        height: 490px;
        background-size: 516px 490px;
        background-repeat: no-repeat;
        background-image: url("/kr/home/r/images/promos/iphone-12/iphone_12_us__fo0stbby242m_medium.jpg")
    }
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
    .main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-iphone-12-iphone-12-us {
        background-image: url("/kr/home/r/images/promos/iphone-12/iphone_12_us__fo0stbby242m_medium_2x.jpg")
    }
}

@media only screen and (max-width: 734px) {
    .main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-iphone-12-iphone-12-us {
        width: 734px;
        height: 548px;
        background-size: 734px 548px;
        background-repeat: no-repeat;
        background-image: url("/kr/home/r/images/promos/iphone-12/iphone_12_us__fo0stbby242m_small.jpg")
    }
}

@media only screen and (max-width: 734px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 734px) and (min-resolution: 1.5dppx), only screen and (max-width: 734px) and (min-resolution: 144dpi) {
    .main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-iphone-12-iphone-12-us {
        background-image: url("/kr/home/r/images/promos/iphone-12/iphone_12_us__fo0stbby242m_small_2x.jpg")
    }
}




/** for appstore **/

.main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-app-store-tile {
    width: 1262px;
    height: 580px;
    background-size: 1262px 580px;
    background-repeat: no-repeat;
    background-image: url("/kr/home/o/images/promos/app-store/tile__cauwwcyyn9hy_large.jpg")
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx),(-webkit-min-device-pixel-ratio: 1.5),(min-resolution: 144dpi) {
    .main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-app-store-tile {
        background-image: url("/kr/home/o/images/promos/app-store/tile__cauwwcyyn9hy_large_2x.jpg")
    }
}

@media only screen and (max-width: 1068px) {
    .main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-app-store-tile {
        width: 516px;
        height: 490px;
        background-size: 516px 490px;
        background-repeat: no-repeat;
        background-image: url("/kr/home/o/images/promos/app-store/tile__cauwwcyyn9hy_medium.jpg")
    }
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
    .main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-app-store-tile {
        background-image: url("/kr/home/o/images/promos/app-store/tile__cauwwcyyn9hy_medium_2x.jpg")
    }
}

@media only screen and (max-width: 734px) {
    .main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-app-store-tile {
        width: 734px;
        height: 548px;
        background-size: 734px 548px;
        background-repeat: no-repeat;
        background-image: url("/kr/home/o/images/promos/app-store/tile__cauwwcyyn9hy_small.jpg")
    }
}

@media only screen and (max-width: 734px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 734px) and (min-resolution: 1.5dppx), only screen and (max-width: 734px) and (min-resolution: 144dpi) {
    .main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-app-store-tile {
        background-image: url("/kr/home/o/images/promos/app-store/tile__cauwwcyyn9hy_small_2x.jpg")
    }
}



/** modal margin **/
@media only screen and (max-width: 320px) {
    [data-modal-from="promos-arcade-crossy-road-castle"].modal-standard .content-wrapper {
        max-width: 300px
    }
}

/** violator **/

.main [data-module-template="heroes"] [data-unit-id="watch-series-6"] .violator-frameless:lang(ko),
.main [data-module-template="heroes"] [data-unit-id="watch-se"] .violator-frameless:lang(ko),
.main [data-unit-id="ipad"] .violator-frameless {
    line-height: 1.41667;
    letter-spacing: 0em;
    font-family: "SF Pro KR", "SF Pro Text", "SF Pro Icons", "Apple Gothic", "HY Gulim", "MalgunGothic", "HY Dotum", "Lexi Gulim", "Helvetica Neue", "Helvetica", "Arial", sans-serif
}

.main [data-module-template="heroes"] [data-unit-id="watch-series-6"] .violator-frameless,
.main [data-module-template="heroes"] [data-unit-id="watch-se"] .violator-frameless,
.main [data-unit-id="ipad"] .violator-frameless {
    font-size: 12px;
    line-height: 1.33337;
    font-weight: 400;
    letter-spacing: -.01em;
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif
}


[data-module-template] [data-unit-id="watch-series-6"] .unit-wrapper .unit-copy-wrapper {
    text-align: center;
}

[data-unit-id="watch-series-6"] .violator-reduced {
    margin-top: 35px;
    margin-bottom: 5px;
}

@media only screen and (max-width: 1068px) {
    [data-unit-id="watch-series-6"] .violator-reduced {
        margin-top: 25px;
    	margin-bottom: 5px;
    }
}

.main [data-module-template="promos"] [data-unit-id="watch-series-6"] .unit-copy-wrapper .headline {
    margin-top: 5px;
}

@media only screen and (max-width: 1068px) {
    .main [data-module-template="promos"] [data-unit-id="watch-series-6"] .unit-copy-wrapper .headline {
        margin-top:5px
    }
}



.main [data-unit-id="ipad"] .violator-frameless {
    text-align: center;
}

.main [data-module-template="promos"] [data-unit-id="ipad"] .unit-copy-wrapper {
    margin-bottom: -10px;
}

.violator-frameless {
    color: #707070;
}


/* reduced */
.main [data-module-template="promos"] [data-unit-id="watch-series-6"] .unit-copy-wrapper .headline {
   
    margin-top: unset;
    }
    @media only screen and (max-width: 1068px) {
        .main [data-module-template="promos"] [data-unit-id="watch-series-6"] .unit-copy-wrapper .headline {
        margin-top: unset;
        }
    }
    @media only screen and (max-width: 1068px) {
        .main [data-module-template="promos"] [data-unit-id="watch-series-6"] .unit-copy-wrapper .headline {
            margin-top: unset;
        }
    }
    
    @media only screen and (max-width: 734px) {
        .main [data-module-template="promos"] [data-unit-id="watch-series-6"] .unit-copy-wrapper .headline {
            margin-top: unset;
        }
    }
    
    /* watch-series-6 size */
    
    .main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-watch-series-6-tile {
        margin-bottom: -10px;
    }
    
    @media only screen and (max-width: 1068px) {
        .main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-watch-series-6-tile {
            margin-bottom: -20px;
        }
    }
    @media only screen and (max-width: 734px) {
        .main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-watch-series-6-tile {
            margin-bottom: -20px;
        }
    }

    

/* hero height modify - small viewport */
html[data-layout-name=arcade-harmony] .main [data-module-template="heroes"] [data-unit-id="iphone-12-pro"] {
    --custom-height-s: 845px;
}

html[data-layout-name=arcade-harmony] .main [data-module-template="heroes"] [data-unit-id="iphone-12"] {
    --custom-height-s: 840px;
}

