*{
    box-sizing: border-box !important;
}

body{
    margin:0;
    padding:0;
    background: #ffffff;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mug{
    width:280px;
    height: 280px;
    background-color: rgb(235, 155, 65);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.coffee{
    width: 230px;
    height:230px;
    background-color: rgb(112, 57, 17);
    border-radius: 50%;
    border: 15px solid rgb(231, 136, 27);
}

.spilt-coffee{
    position: absolute;
    width:200px;
    height: 200px;
    transform: translate(50%, 50%);
}

.handle{
    position: absolute;
    width: 65px;
    height: 90px;
    transform: translate(160%,-125%) rotate(45deg);
    border-radius: 20%;
    background-color: rgb(235, 155, 65);
    border-bottom:10px solid rgb(209, 159, 101); 
}

.big{
    position: absolute;
    width: 95px;
    height: 95px;
    border-radius: 50%;
    bottom: 25px;
    left: 30px;
    background-color: rgb(112, 57, 17); 
}
.small:nth-child(1){
    position: absolute;
    width:60px;
    height: 60px;
    border-radius: 50%;
    bottom:40px;
    left:0;
    background-color: rgb(112, 57, 17);
}

.small:nth-child(3){
    position: absolute;
    width:60px;
    height: 60px;
    border-radius: 50%;
    bottom:80px;
    left:70px;
    background-color: rgb(112, 57, 17);
}


.tiny{
    position: absolute;
    width:30px;
    height: 30px;
    background-color: rgb(112, 57, 17);
    bottom:-5px;
    border-radius: 50%;
}

.tiny-2{
    position: absolute;
    width:15px;
    height: 15px;
    background-color: rgb(112, 57, 17);
    bottom:-25px;
    left:30px;
    border-radius: 50%;
}